// section contact
.contact{


    &__wrapper{
        margin-top: 170px;
        background-image:url(/photos/fon/Oval-big.svg), linear-gradient(0, rgba(#E7816B, 1) 100%, 0, rgba(#E7816B, 1) 100%,); 
        background-repeat: no-repeat;
        height: 480px;
        display: flex;
        padding: 55px 95px;
        border-radius: 15px;
        gap: 95px;
        justify-content: space-between;
        align-items: center;
        

        &--start{
           
            &-title{
                margin-top: 0;
                font-weight: 500;
                font-size: 48px;
                line-height: 48px;
                color: #ffffff;
                margin-bottom: 32px;
            }

            &-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                max-width: 445px;
            }
        }

        &--end{
            max-width: 380px;
            display: flex;
            flex-direction: column;
            &-form{

                &-text{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-mail{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-tel{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-textarea{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    height: 102px;
                    resize: none;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }

                &-btn{
                    padding: 14px 47px;
                    border: none;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #333136;
                    background: #FFFFFF;
                    border-radius: 8px;
                    cursor: pointer;

                    &:hover{
                        background: #FFAD9B;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}


/* ===================== RWD (768) =====================*/

@media only screen and (max-width:768px){
// section contact
.contact{


    &__wrapper{
        background-image:url(/photos/fon/Oval-big.svg), linear-gradient(0, rgba(#E7816B, 1) 100%, 0, rgba(#E7816B, 1) 100%,); 
        background-repeat: no-repeat;
        height: 689px;
        display: flex;
        padding: 71px 58px;
        border-radius: 15px;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        &--start{
           
            &-title{
                margin-top: 0;
                font-weight: 500;
                font-size: 48px;
                line-height: 48px;
                color: #ffffff;
                margin-bottom: 32px;
            }

            &-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                max-width: 573px;
            }
        }

        &--end{
            max-width: 573px;
            display: flex;
            flex-direction: column;
            &-form{

                &-text{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-mail{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-tel{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-textarea{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 12px 16px;
                    width: 100%;
                    height: 102px;
                    resize: none;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }

                &-btn{
                    padding: 14px 47px;
                    border: none;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #333136;
                    background: #FFFFFF;
                    border-radius: 8px;
                    cursor: pointer;

                    &:hover{
                        background: #FFAD9B;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}


}

/* ===================== RWD (480) =====================*/

@media only screen and (max-width:480px){
// section contact
.contact{


    &__wrapper{
        background-image:url(/photos/fon/mobil-contact.svg), url(/photos/fon/mobil-contact-r.svg), linear-gradient(0, rgba(#E7816B, 1) 100%, 0, rgba(#E7816B, 1) 100%,); 
        background-position: left top, right top, center;
        background-repeat: no-repeat;
        background-clip: inherit;
        height: 764px;
        display: flex;
        padding: 72px 24px;
        border-radius: 0px;
        gap: 48px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        &--start{
           
            &-title{
                text-align: center;
                margin-top: 0;
                font-weight: 500;
                font-size: 32px;
                line-height: 36px;
                color: #ffffff;
                margin-bottom: 24px;
            }

            &-text{
                text-align: center;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                color: #FFFFFF;
                max-width: 327px;
            }
        }

        &--end{
            max-width: 327px;
            display: flex;
            flex-direction: column;
            &-form{

                &-text{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 11px 13px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-mail{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 11px 13px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-tel{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 25px;
                    padding: 0 0 11px 13px;
                    width: 100%;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
                &-textarea{
                    background: none;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 40px;
                    padding: 0 0 11px 13px;
                    width: 100%;
                    height: 102px;
                    resize: none;
                    cursor: pointer;
                    &::placeholder{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }

                &-btn{
                    padding: 14px 47px;
                    border: none;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #333136;
                    background: #FFFFFF;
                    border-radius: 8px;
                    cursor: pointer;

                    &:hover{
                        background: #FFAD9B;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}


}
